p{
	font-size:25px;
	color:#767676;
 }
h1{
	 font-size:50;
	 color:#000000;
	 text-align:center;
 }

body{
	background-image:url("imagens/home.png");
	background-position: 
	background-color:#FFFFFF;
	 }